.authentication-page {
  min-height: 100vh;
  background: linear-gradient(to right, #8f94fb, #4e54c8);
}

.authentication-welcome-container {
  width: 100%;
  max-width: 500px;
  padding: 0 32px;

  h1 {
    color: #ffffff;
  }

  img {
    width: 100%;
    margin: 32px 0;
  }

  button.google-sign-in {
    mat-icon {
      padding-right: 8px;
    }
  }
}
