mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  .back-button {
    margin-right: 12px;
  }

  .sign-out {
    padding-left: 0;
    border-radius: 22px; /* user avatar + 2px to ensure no white space */
    .user-avatar {
      margin-right: 12px;
      border-radius: 20px;
    }
  }

}