<mat-toolbar *ngIf="currentUser">
  <div *ngIf="currentConversation$ | async as conversation" fxLayout="row" fxLayoutAlign="start center">
    <button class="back-button" routerLink=".." mat-icon-button aria-label="back button">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  
  <div *ngIf="!(currentConversation$ | async)" class="full-width" fxLayout="row" fxLayoutAlign="start center">
    <span>Conversations</span>
    
    <span fxFlex></span>
    
    <button (click)="logout()"
            mat-button>
      <span>Sign out</span>
    </button>
  </div>

</mat-toolbar>